.TopDeals {
    background-color: white;
    margin: 8px 57px;
    padding: 16px;
  }
  .TopDeals a {
    text-decoration: none;
    color: black;
  }
  .TopDeals .greatericon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a55e5;
    width: 25px !important;
    height: 25px;
    border-radius: 50%;
    background-color: #2a55e5;
  }
  .TopDeals .greatericon > a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  .TopDeals .card {
    width: 188px;
    /* height: 283px; */
    padding: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .TopDeals .card img {
    width: 80%;
    object-fit: contain;
    transition: 0.5s;
  }
  .TopDeals .card-body {
    padding: 0 !important;
  }
  .TopDeals .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      overflow: hidden;
      text-align: center;
  }
  .TopDeals .card-text p,
  h5 {
    margin-bottom: 0 !important;
  }
  .TopDeals .card-text > p {
    font-size: 15px;
  }
  .TopDeals .card-text > a > h5 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
  }
  .TopDeals .boe-flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .TopDeals .row {
    margin-bottom: 10px;
    padding: 0px 18px;
  }
  
  .TopDeals .card img:hover {
  transform: scale(1.06);
    transition: 0.5s;
  }
  